.header-container {
  height: 685px;
  background-color: #fbd062;
  position: relative;
}

.header-container::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: #ffffff;
  clip-path: polygon(100% 20%, 0 100%, 100% 100%);
}
